
<form action="/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}

File: <input type="file" name="filename"><br>
Name: <input type="text" name="name"><br>
Desc: <input type="text" name="description"><br>

<input type="submit" value="Upload"><br>
</form>


Files -  {{files.count}}
{% for file in files %}
<br>
<br>
<a href="{{file.filename.url}}/">{{file.name}}</a> by <br>
&nbsp; &nbsp; User: {{file.user.name}}
<br>
Description:&nbsp; {{file.description}}
<br>
{%  endfor  %}
<br><br>

<a href='/logout/'>LogOut</a>

